#tmp1 {
    min-width: 40%;
    max-width: 80%;
    min-height:50vw;
    max-height:60vw;
    margin: 0 auto;
}

#tmp2 {
    min-width: 40%;
    max-width: 100%;
    min-height:50vw;
    max-height:75vw;
    margin: 0 auto;
}

#tmp3 {
    min-width: 40%;
    max-width: 100%;
    min-height:50vw;
    max-height:60vw;
    margin: 0 auto;
}
